<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        Homepage
    </h1>
    <form action="{% url 'home' %}">
        <input type="submit" value="Admin">
    </form>
    <form action="{%  url 'login' %}">
        <input type="submit" value="Login">
    </form>
    <form action="{% url 'search_results'%}" method="get">
        Search one product: <input name="searchValue" type="text" placeholder="Enter the product name">
        <input type="submit" value="Submit">
    </form>
    <form action="{% url 'compare_results'%}" method="get">
        Compare two products: <input name="compareValue1" type="text" placeholder="Enter the first product">
        <input name="compareValue2" type="text" placeholder="Enter the first product">
        <input type="submit" value="Submit">
    </form>
</body>
</html>