<title>Meal Log</title>
<h1>Your Meal Log</h1>
<a href="http://127.0.0.1:8000/">home</a>
<a href="http://127.0.0.1:8000/logout/">logout</a>

<form action="/addMeal/" method="post">{% csrf_token %}
    <input type="text" name="date" placeholder="Date"/>
    <input type="text" name="time" placeholder="Time"/>
    <input type="text" name="description" placeholder="What did you eat?"/>
    <input type="text" name="quantity" placeholder="How many servings?"/>
    <input type="submit" value="Add"/>
</form>


<ul>
    {% for all_meals in all_items %}
        <li>
            <table>
                <tr>
                    <th>{{ all_meals.date }} </th>
                    <th>{{ all_meals.time }};  </th>
                    <th>{{ all_meals.description }}: </th>
                    <th>{{ all_meals.quantity }};  </th>
                    <th>{{ all_meals.nutrition }}</th>
                </tr>
            </table>
            <form action="/deleteMeal/{{all_meals.id}}"
                  style="display: inline;"
                  method="post">{% csrf_token %}
                <input type="submit" value="Delete"/>
            </form>
        </li>
    {% endfor %}
</ul>

